[2017-02-06 13:58] discosteffen opened #6 "Donations"
Not an issue but I could not find contact-info or donation page for Kivy project. Interested in doing bitcoin donation to help with ZeroNet-kivy.

[2017-03-24 12:24] numidark opened #8 "No Landscape mode"
The zeronet app has not landscape mode, it's portrait forced.
On tablet/pc is not very usable.
Cordialy

[2017-04-20 15:30] haverholm opened #9 "Failed install - "File corrupt""
Tried twice installing the latest version (0.5.2.1 unsigned) to no avail. Error: "The file appears to be corrupt".

Oneplus One, Android 7.1.1, Lineage OS 14.1 20170403 nightly. Suggestions?

[2017-04-20 15:33] mkg20001 commented on #9
You can't install the unsigned file.
Just install the debug version or sign it with your own key.

[2017-04-20 15:36] ghost commented on #9
Thanks for the quick response! Got it, installing debug now :)

[2017-04-21 19:43] bjorn3 opened #10 "Error: Could not load any libpythonXXX.so"
Android 4.1.2

[2017-04-22 14:15] #9 closed

[2017-04-22 14:16] mkg20001 commented on #10
When does it occur? When running the app or when building it?

[2017-04-22 14:55] bjorn3 commented on #10
When running the app installed from `ZeroNet-0.5.2.1-debug.apk` at `https://github.com/HelloZeroNet/ZeroNet-kivy/releases/tag/0.5.2.1-alpha2`.

[2017-04-22 14:58] mkg20001 commented on #10
Any logs or more information?

[2017-04-22 15:06] bjorn3 commented on #10
http://imgur.com/a/jXvVk

[2017-05-13 04:06] Yuvaldv commented on #10
Same,
running [alpha#4](https://github.com/HelloZeroNet/ZeroNet-kivy/releases/download/0.5.4.1-alpha4/ZeroNet-0.5.4.1-debug.apk) on android 4.4.2, ParallelsDekstop emu.

![screen shot 2017-05-13 at 7 07 28](https://cloud.githubusercontent.com/assets/6911254/26022334/f2618a38-37aa-11e7-81a2-6dca1c6993d1.png)

[2017-05-13 07:47] mkg20001 commented on #10
Could someone with that problem provide adb logs?

[2017-05-13 08:32] bjorn3 commented on #10
First time with "Unfortunately, ZeroNet has stopped":
[code]

Second time with popup like @yuvalDV got:
[code]

[2017-05-13 16:49] mkg20001 commented on #8
~~Landscape is added in alpha#4~~ but rotating currently causes the application to hang (starting in landscape is fine)
Edit: Just realized it isn't in alpha4. I will create a new release after I fix #10

[2017-05-13 17:24] mkg20001 commented on #10
Good news: I fixed the error and will push the fix soon.
Bad news: I got this new error (it's android - that was kind of expected)
[code]

[2017-06-27 23:50] elspru opened #11 "not on f-droid or play store"
If you don't put it in app store, then I might have to.

[2017-06-28 11:46] mkg20001 commented on #11
Well, you can add an issue to the f-droid bugtracker so they add it.
If I (that 16 yr old kid writing this app) would have someone with a credit card that is debt-free then I could also pay the $25 developer fee for play store.

[2017-06-28 17:11] txrtanzi opened #12 "程序启动时崩溃/Crash while launching program."
手机水平放置时，应用启动时会无视系统对屏幕方向的限制，自行横屏显示然后崩溃。竖屏启动成功后再水平放置手机会导致界面显示不全。希望能加以修复。
(Translated by Google)When the phone is placed horizontally, the application will ignore the system's restrictions on the screen orientation when it starts, and then displays it horizontally and then crashes. Vertical screen after the success of the mobile phone will be placed after the level of the interface will lead to incom

[2017-06-28 17:31] mkg20001 commented on #12
This is an error on kivy. That is mostly unrelated to ZeroNet-kivy. I'll leave this open for now.

[2017-06-29 14:37] elspru commented on #11
Great, I submitted it on F-Droid https://gitlab.com/fdroid/rfp/issues/231

Also I've sent you an invitation from my android developer console to be the project lead for ZeroNet.

[2017-06-29 15:17] mkg20001 commented on #11
@elspru You are awesome! Thanks!
Is there any way we can chat? Telegram, Whatsapp, etc?

[2017-06-29 17:57] elspru commented on #11
I'm htafdresgi on freenode and elspru@zeroid.net on zeronet

[2017-06-29 18:33] mkg20001 commented on #11
Tox? mkg20001@toxme.io

[2017-06-30 01:08] elspru commented on #11
ToxHtaf@

[2017-06-30 01:09] elspru commented on #11
Htaf@toxme.io

[2017-06-30 13:47] #11 closed

[2017-07-29 18:17] l5h5t7 opened #13 "Publish to F-Droid?"
It's not all Android device have Google Play Store, and some users want download and update ZeroNet from another platform(In mainland China, Google Play is blocked).

[2017-07-29 19:16] mkg20001 commented on #13
See https://gitlab.com/fdroid/rfp/issues/231

[2017-08-08 08:26] CPCer opened #14 "Is this the one on play store?"
Zeronet (Unreleased) by LiberIT

[2017-08-08 08:30] CPCer commented on #14
i think i;ve found the answer

[2017-08-08 08:31] #14 closed

[2017-08-11 08:19] saber28 opened #15 "Tor Add-On error"
Android APP can't use tor, Add-On error shown on home page

[2017-08-13 13:10] mkg20001 commented on #15
This is related to missing config parameters in Orbot.
If you don't have it installed download it from the playstore.
Then go to Orbot > Settings > Torrc Custom Config and add these lines:
[code]

[2017-08-28 15:44] Z4HD commented on #12
其实只要同时满足以下两个条件ZeroNET-kivy就会直接失去响应并崩溃：

- 手机水平放置
- ZeroNET-kevy位于前台

如果是kevy框架问题的话，也许保持手机竖直放置应该是最简单的解决办法了罢。（逃）

[2017-08-31 21:38] BlackRabbit22 opened #16 "Battery Drain"
When using the application my cpu gets really hot and my battery drains fast.

My device is a oneplus3t running Android 7.1.2, browser that I'm using is brave.

[2017-09-01 08:49] HelloZeroNet commented on #16
The first startup an sync is a cpu and io heavy operation, but after that it should be reduced significantly.

Can you paste the results of http://127.0.0.1:43110/Benchmark here?

[2017-10-11 06:02] jinfagang opened #17 "iOS install"
How to install on iOS
?

[2017-10-14 13:54] mkg20001 commented on #17
Currently there is no iOS version. We need some developer for it first.

[2017-10-24 05:59] katcom opened #18 "Suggestion, The use of WebView can generate the python script with GUI."
In my opinion , it should be more handy and useful for the zeronet android application if the GUI for zeronet , a webview which loads http://127.0.0.1:43110 as the zeronet index page or something else such as  previously provided profile page, can be ran after the launch of the zeronet python script at once.  In case of that , the development of this application can mainly employ the HTML and the

[2017-10-25 07:15] AndreMiras commented on #10
Hi @mkg20001 I'm interested to know what was the fix for the libpythonXXX.so error I'm also having this error on some Android 4.0.4 device.
Is it what you did?
https://groups.google.com/forum/#!topic/kivy-users/lkrolZjym0Y
i.e. editing https://github.com/kivy/python-for-android/blob/stable/pythonforandroid/bootstraps/sdl2/build/src/org/kivy/android/PythonUtil.java to add missing ssl/crypto librari

[2017-10-28 20:01] #16 closed

[2017-11-07 15:47] thorin-schiffer commented on #10
`PythonUtil.java` from the current master fixes the problem for me. I have a problem that `strings.tmpl.xml` would not render into xml file on current master. Any ideas?

[2017-11-21 16:49] heyitswither opened #19 "FileNotFoundError on Mail.ZeroNetwork.bit"
[code]

[2018-01-02 22:55] mkg20001 commented on #19
@HelloZeroNet I think this looks like something you should take a look at

[2018-01-02 22:56] mkg20001 commented on #18
I am planning to redesign the UI and use the native ui components instead of python-kivy.

[2018-01-02 22:58] mkg20001 opened #20 "UI redesign, drop kivy"
Kivy is way too buggy and using native android ui could fix many input-related crashes

[2018-01-02 23:05] mkg20001 opened #21 "java.lang.UnsatisfiedLinkError: No implementation found for void org.libsdl.app.SDLActivity.nativeQuit()"
Many devices on the prelaunch report (7/10) crash with this error
[pixel 7.1 logcat.txt](https://github.com/HelloZeroNet/ZeroNet-kivy/files/1598974/logcat.txt)
![pre-launch report (german)](https://user-images.githubusercontent.com/7735145/34503639-d7cc1300-f019-11e7-90f5-8ba97c737566.png)

[2018-01-27 22:39] krzysztof113 opened #22 "Commit of session ... failed: Failed to extract native libraries"
Once built, can't install on emulator.
In logcat "Commit of session ... failed: Failed to extract native libraries"

[2018-01-28 16:43] mkg20001 opened #23 "Disable chart plugin by default"
Ref http://localhost:43110/Me.ZeroNetwork.bit/?Post/1RedkCkVaXuVXrqCMpoXQS29bwaqsuFdL/15NScazvsCHNmiXi6o6nvaMiwjeJYizgZQ/1516610972

[2018-01-28 16:45] mkg20001 opened #24 "Add zeronet-android.bit zite by default"
Ref http://localhost:43110/Me.ZeroNetwork.bit/?Post/1BLueGvui1GdbtsjcKqCf4F67uKfritG49/177ia43eQrnWCHCWt1ik6viQGRzWuNXGzD/1516461280#

[2018-01-29 17:27] #22 closed

[2018-02-10 15:54] Serkan-devel commented on #20
Would PySide work?

[2018-02-10 19:17] mkg20001 commented on #20
PySide is for qt and I don't think that it's going to be better than just using native android ui.

[2018-03-27 21:07] tangdou1 opened #25 "The earth globe in 0 sidebar cannot rotate using finger"

[2018-05-30 20:00] chezsick opened #26 "Missing Platform ::: x86"
Hi/Hello It's Good To Build A APK For Android But There Only ARM So For Any Phone But Not For Android x86 And Some Tablet

Is Possible To Build APK For ARM And x86

Thank Sick

[2018-05-31 15:44] mkg20001 commented on #26
I already tried building for x86 but that does not seem possible due to some python-kivy/buildozer bugs.

[2018-06-08 11:00] katcom commented on #20
I am working on the gui now. My final application would be an android application supported by cross-compiled python2 library that runs Zeronet, with android native gui.

[2018-08-18 15:22] rllola opened #28 "Vagrant broken"
Not able to build with vagrant.

[2018-08-29 16:44] erinarbleizez commented on #15
hi,

sorry to necro this issue but I try the Torrc Config and still get a TOR: ERROR with an access denied on ZeroNet on

/data/data/org.torproject.android/app_data/control_auth_cookie

how to fix this one?

thank you

[2018-08-29 17:18] tangdou1 opened #29 "Why there is no the newest version (zeronet now 3571)?"
In the old version apk, trackers is invalid, even can not connect any peer.

[2018-08-31 10:38] mkg20001 commented on #29
Simply because I've forgotten to update zeronet apps lately :sweat_smile:
I will try to compile a new version

[2018-08-31 12:13] mkg20001 commented on #29
I have released https://github.com/HelloZeroNet/ZeroNet-kivy/releases/tag/v0.6.3.1
Distribution through the update zite and play store will be done shortly

[2018-08-31 12:14] #29 closed

[2018-08-31 12:39] mkg20001 commented on #29
Published on play store and http://localhost:43110/1A9gZwjdcTh3bpdriaWm7Z4LNdUL8GhDu2/

[2018-08-31 16:15] tangdou1 commented on #29
Thanks

[2018-09-01 02:09] waic0083 opened #30 "build release failed using docker"
I am trying to build a release version using docker on Mac .But finally got these errors:
![2018-09-01 9 53 54](https://user-images.githubusercontent.com/6084439/44941308-20809a00-adcd-11e8-89ca-033761efaa20.png)

[2018-09-01 08:55] #30 closed

[2018-09-01 09:02] mkg20001 commented on #28
Vagrant image should be fixed now with https://github.com/HelloZeroNet/ZeroNet-kivy/commit/29254aba37c8a035eddefa9ea9c5d1ea9968bbc2
Please test and close if it works
Edit: Had to fix something else in the makefile too, current master should be fine now

[2018-09-01 09:10] waic0083 opened #31 "ImportError: No module named zeronet"
I ran the debug version and got these errors. Can some one help me ?
![image](https://user-images.githubusercontent.com/6084439/44944443-3c099600-ae09-11e8-9ac8-6450f180512f.png)

[2018-09-01 09:36] waic0083 commented on #31
Sorry. It is my mistake

[2018-09-01 09:36] #31 closed

[2018-09-02 13:03] rllola commented on #28
It is still failing for me
[code]

[2018-09-03 09:30] mkg20001 commented on #28
Damn, I pushed 32d5961d2e6b8404924aab153b0322c65aa7dd4f only to mkg20001/ZeroNet-kivy. Error should be fixed now

[2018-09-03 15:07] mkg20001 commented on #30
This error is intended (as there is no release key store defined)
For offical release this error is fine and after that running `make release-align release-sign` is called

Btw, there is a new release out: https://github.com/HelloZeroNet/ZeroNet-kivy/releases/tag/v0.6.3.2

[2018-09-03 15:16] mkg20001 commented on #19
Has this issue been fixed?

[2018-09-04 10:14] mkg20001 commented on #15
This is likely because the ZeroNet app does not have permission to access the tor app's cookie file, so it seems this authentication strategy doesn't work

I'm unsure whether it's possible to use password authentication for tor in zeronet, as this could be used to bypass this limitation

@shortcutme Could you help?

[2018-09-04 16:33] HelloZeroNet commented on #15
Yes, you can use password authentication: https://github.com/HelloZeroNet/ZeroNet/commit/a3f62f56f6d6d2bb14b0c162cc1e9ba716d593e4

[2018-09-06 21:13] tangdou1 opened #32 "How about adding the firefox into the zeronet apk?"
Many famous app like wechat, add its own browser into its app for good experience.

[2018-09-07 08:10] mkg20001 commented on #32
While this is possible it would be hard to do with the current python-kivy based ui. Once I get the time to properly rewrite everything to use android's native UI (ref https://github.com/HelloZeroNet/ZeroNet-kivy/issues/20) I will re-consider this

[2018-09-07 08:23] tangdou1 commented on #32
@mkg20001 Thanks for your consideration and hard work for this project. :)

[2018-09-07 10:15] mkg20001 opened #33 "Current build failing"
Due to some changes in the raised SDK version (as targetSdk 26 will be mandatory) I have upgraded kivy and py4a.

I'm currently upgrading stuff and fixing any bugs that appear, meanwhile building the app is **not** possible!

Current issues:
 - [x] gradle uncached
 - [x] duplicate permissions
 - [x] failing gevent build
[code]
 - [x] failing kivy build
[code]
 - [x] failing build for py4a jpeg
 -

[2018-09-07 11:29] mkg20001 commented on #33
Ok, finally fixed all this crap.

I'm having to maintain the tools I'm using, too... -.-
At least they're working now

[2018-09-07 11:29] #33 closed

[2018-09-07 12:01] mkg20001 commented on #26
Just tested, seems to still fail

[2018-09-12 00:26] TimBeezy commented on #15
How do I make use of this? (I'm new)

[2018-09-15 10:43] mkg20001 opened #34 "Error: dlopen failed: cannot locate symbool "ctermid" referenced by "<app>/lib/arm/libpython2.7.so""
`Error: dlopen failed: cannot locate symbool "ctermid" referenced by "<app>/lib/arm/libpython2.7.so"`

![screenshot](https://user-images.githubusercontent.com/7735145/45585451-c3b0d380-b8e4-11e8-94b6-d58ddbc95a66.png)

(Reported by user via google play feedback, opened issue here to track)

[2018-09-25 04:29] tlaurion commented on #34
Having the same error on LineageOS 14.1.

[2018-09-29 19:06] lothendriel commented on #34
I am getting the same error on the Android app downloaded from Google Play

[2018-09-30 23:34] chettoy commented on #34
Error: dlopen failed: cannot locate symbol "ftello64" referenced by "libpython2.7.so"
![_20181001_072303](https://user-images.githubusercontent.com/42088051/46264196-5fc91480-c54c-11e8-9685-65cdb6bd9efb.jpg)

[2018-10-01 02:50] tlaurion commented on #34
@mkg20001 so it is replicable. Now what? Can we help? Test builds?

[2018-10-10 21:51] lothendriel commented on #34
Anyone have any idea what this might be? I thought maybe my phone got corrupted so I factory reset it and tried to install ZeroNet Android fresh. Still getting this error

[2018-10-11 04:50] mkg20001 commented on #34
This is releated to Android Version being currently somehow incompatible. I
currently don't know how I could fix that. Using the app on android 7 seems
to work.

lothendriel <notifications@github.com> schrieb am Mi., 10. Okt. 2018, 23:51:

[2018-10-15 13:57] tlaurion commented on #34
@mkg20001 : not an android apk builder here. But here is [some](https://developer.android.com/training/basics/supporting-devices/platforms) different [insights](https://developer.android.com/training/multiple-apks/api) on supporting multiple platforms.

ZeroNet should work on both LineageOS 14.1 and 15.1, which I suppose a lot of your users will be coming from.

[2018-10-15 19:52] mkg20001 commented on #34
@tlaurion (and everyone else) The problem is that there is an abstraction layer (python-kivy/python-buildozer) that allows zeronet to run on android and that specific part is causing this trouble. Fixing bugs in this layer is extermley difficult simply because almost all fixes require re-compiling the app entierly due to the fact that it's an issue with native code and that is extermly time consum

[2018-10-15 20:00] mkg20001 opened #35 "[META] New maintainer(s) wanted"
As I currently don't have as much time and motivation as I'd like to have to be able to work on this project (after all it's a free-time side-hustle) I'd need somebody else to maintain it. (ref https://github.com/HelloZeroNet/ZeroNet-kivy/issues/34#issuecomment-429990207)
I think this is a lot smarter than simply letting this project slowly die due to lack of maintaince.

If you're intrested creat

[2018-10-16 15:47] tlaurion commented on #34
@mkg20001 : any people you have in mind that should be tagged in this issue to be aware of the need?

[2018-10-16 15:54] mkg20001 commented on #34
@tlaurion I wouldn't know whom to tag specifically but what could definitivly help is maybe get a new maintainer for this project, ref #35

[2018-10-16 19:10] HelloZeroNet commented on #34
I will release a new version in a few days and I will include the maintainer needed notice in it.

[2018-10-24 17:23] lothendriel commented on #34
I would happily do this if someone had the previous version apk for download. Any linkage for that? Thanks :)

[2018-10-25 11:31] mkg20001 commented on #34
@lothendriel The last version would be https://github.com/HelloZeroNet/ZeroNet-kivy/releases/tag/v0.6.3.2
Sadly I can't downgrade it on playstore otherwise I'd have done this, too (Note to disable auto-updates or install the debug version, otherwise playstore will upgrade it)

[2018-10-25 12:24] lothendriel commented on #34
Thank you so much! :)

[2018-10-25 12:33] lothendriel commented on #34
Well crud.. tried to download it on the same phone i used it on before and it says the file is corrupted. I just can't win today lol

[2018-10-29 10:29] rllola commented on #20
@katcom Are you still working on it ?

I guess we will need to use one of those solutions for python/android app https://medium.com/@umerfarooq_26378/tools-to-run-python-on-android-9060663972b4

I also believe that either Pyqtdeploy or Pyside are good candidate.

[2018-10-29 10:30] rllola opened #36 "Storage permission might be unnecessary"
ZeroNet is working fine for me without it enabled, and I've never noticed a problem with it disabled. Multiple times I've enabled it, but never noticing a need to. Now, I've been using ZeroNet with it disabled ever since the IPv6 pull request, because I reinstalled it since then. The permission is likely for accessing files outside ZeroNet's directory, not for accessing ZeroNet's directory.

See h

[2018-10-29 11:28] katcom commented on #20
@rllola I have given it up, sorry.
Actually, I had faced some difficulties in compiling zeronet by Kivy, perhaps because I was lack of knowledge in C compiler. Initially I wanted to build by Kivy the python interpreter and the relevant libraries that zeronet requires, and therefore to run zeronet by the interpreter in the background while UI is controlled by android component, such as webview. But

[2018-10-29 12:15] mkg20001 commented on #36
I think it's fine to remove it, it was just there because I copy & pasted it from someone else's code and never gave it much thought.

[2018-10-29 22:15] rllola commented on #20
@katcom Ok, cool. I might attempt building using pyqtdeploy but I am afraid I will have the same problem as you. I am not really familiar with compiling for mobile.

[2018-10-29 22:56] mkg20001 commented on #20
@rllola In terms of python and pip compilation for android: It's a **HUGE** mess. It's such big of a mess that I've had to fix bugs in the building tools myself, simply because everything is so broken and messy. It's like a tiny bit of code swimming in a pool of duct tape that tries to hold everything together. </rant>

Okay maybe it's not that bad, but it isn't easy either. That's why I stopped m

[2018-10-30 06:35] katcom commented on #20
@mkg20001 @rllola
Hey, I share the same frustration with you during the building process. Actually I made an app based on this tuition http://joaoventura.net/blog/2014/python-android-5/
My basic idea is the python module and the UI is separated : to build, by C compiler as a JNI module, a python interpreter and the libraries needed for Zeronet script to run, and to use the android component to des

[2018-10-31 14:56] bsollenb54 commented on #34
Good news - I'm on LOS 14.1 on a Nexus 5X and I was able to download the 0.6.3.2 apk file and it worked successfully to open after I installed it. @lothendriel - I see there is a non-versioned .apk in the assets section of the provided link by mkg2001; could it be you downloaded that one by accident?

[2018-11-02 14:02] katcom commented on #20
@rllola
I shall try chaquopy, maybe you can give Pyqtdeploy a shot?

[2018-11-02 14:22] katcom commented on #20
@mkg20001
Do you think it is a good idea to compile python interpreter with Kivy?

[2018-11-03 00:08] rllola commented on #20
@katcom
Lets do that :+1:

[2018-11-03 20:18] trcyprkr opened #38 "This happened after update to V2.7"
![1537019400](https://user-images.githubusercontent.com/7586980/47956920-0e60da80-df7b-11e8-9ea0-2b154d5ef2af.jpg)

I'm using an LG Stylo 3.  I removed the most recent version and went back to the Alpha #9 release which seems to work fine.  I just have this annoying "new version 0.6.4" notification on the home page.

[2018-11-07 13:12] lothendriel commented on #34
I did download the wrong one lol. Sorry. I got it working. Thanks folks! 😄

[2019-02-24 08:24] mkg20001 commented on #35
As nobody showed up to maintain this app I have decided to give it one last try and see if I can fix it.

[2019-02-24 10:49] mkg20001 opened #40 "Use python3"

[2019-02-24 10:50] mkg20001 opened #41 "Build using gitlab ci"
Currently working on using gitlab ci instead of travis as it has better caching (cache can just be left as-is on worker, without having to compress & uncompress) and parallel builds

- [x] Create config
- [x] Make it work
- [x] Automate releases: Currently no signing
- [x] Automate release-code generation (as in: it pushes updates while I sleep, see https://github.com/mkg20001/zeronet-snap)

[2019-02-24 10:50] mkg20001 opened #42 "Build for arm64 and arm32"
Working on that in #41

[2019-02-24 17:18] mkg20001 commented on #41
Builds are up at https://gitlab.com/mkg20001-gh/ZeroNet-kivy
@HelloZeroNet Mind moving this into https://gitlab.com/HelloZeroNet and giving me access?

[2019-02-24 17:20] mkg20001 opened #43 "Remove old legacy code"
Buildozer seems to have improved greatly, thus removing the need for some hacks/workarounds as well as the forks.

_list WIP_

- [x] Workaround for downloading newer SDKs/NDKs: ?
- [x] Workaround for buildozer sometimes not properly fetching stuff: Removed
- [x] `$CI_MODE` feature: Possibly get this merged upstream (https://github.com/kivy/python-for-android/pull/1727 and https://github.com/kivy/p

[2019-02-24 18:01] mkg20001 opened #44 "Use NDK 19b"

[2019-02-24 18:01] mkg20001 opened #45 "New release"

[2019-02-24 19:50] mkg20001 opened #46 "Cache .gradle for kivy-docker"

[2019-02-25 12:26] mkg20001 opened #47 "Startup problem in development version: BadZipfile: File is not a zip file"
[code]

[2019-02-25 12:28] mkg20001 opened #48 "Add sentry"
Would help with collecting bugs better, since python-kivy creates logfiles under `/data/user/0/net.mkg20001.zeronet/files/app/.kivy/logs/` which are really useful

[2019-02-25 12:35] mkg20001 commented on #46
Turns out it already does that

[2019-02-25 12:35] #46 closed

[2019-02-25 15:59] mkg20001 commented on #44
[build.log](https://github.com/HelloZeroNet/ZeroNet-kivy/files/2901304/build.log)

[2019-02-25 15:59] mkg20001 commented on #44
Seems to fail

[2019-02-26 14:10] mkg20001 opened #49 "Automated testing"

[2019-02-26 14:48] mkg20001 commented on #47
Ok, solved

Next thing is
[code]

[2019-02-26 15:43] mkg20001 commented on #40
@shortcutme Is zeronet python3 compatible? If not, is there any pr/issue for that?

[2019-02-26 16:13] HelloZeroNet commented on #40
Not right now, but currently working on it. The first test version is expected to come out this week.

https://github.com/HelloZeroNet/ZeroNet/issues/1773

[2019-02-26 17:56] mkg20001 commented on #26
Optional builds for x86 have been enabled, but current focus is to get arm working again. Should there be any x86 pre-release builds than you can download them from https://gitlab.com/mkg20001-gh/ZeroNet-kivy/pipelines
Note that x86 builds aren't successfully building right now, which means that there are none right now.

[2019-02-26 17:57] mkg20001 opened #50 "Automated releases"

[2019-02-26 17:59] mkg20001 commented on #41
GitLab CI now works! (But the generated builds do not)

[2019-02-26 17:59] #41 closed

[2019-02-26 18:01] mkg20001 commented on #42
Now building both automatically via gitlab ci :tada:

[2019-02-26 18:01] #42 closed

[2019-02-26 18:23] mkg20001 opened #51 "Use fixed version of buildozer and p4a"
Current approach: It works! Let's see if it does work tomorrow! Good luck!

Obviously not really future-proof (example: release history of zn-kivy)

New approach:

Most tools just do "dumb" checkouts so it doesn't really matter if we give that tool a commit, tag, or branch.

- For buildozer the version can be defined via the Dockerfile in the pip install command

- For p4a the version can be defin

[2019-02-26 19:28] mkg20001 commented on #51
Another idea: Add both as submodules, then use `p4a.source_dir` and whatever pip offers to install local stuff

[2019-02-28 16:02] mkg20001 commented on #26
Update: Building seems to work https://gitlab.com/mkg20001-gh/ZeroNet-kivy/-/jobs/168657116/artifacts/browse/release/
But the app won't start because of #47

[2019-02-28 16:03] mkg20001 opened #52 "Fix bad notification error: add notification channel"
[code]

[2019-03-03 15:02] mkg20001 commented on #35
Maintaining this app is still lots of work. I'll automate many things but that doesn't mean that I'll be maintaining this app past the next release. I have other things to do, too. So I'm STILL looking for someone to maintain this app.

@shortcutme What do you think about continuing maintenance of this app? Or putting a link to this issue in some release blog post?

[2019-03-03 15:04] mkg20001 opened #53 "Fix cache on gitlab"
Currently it's caching, but not really.

I'd like to use `/cache` and not gitlab's internal cache, as that one saves the overhead of pushing the whole android sdk+ndk twice through the network per build.

Somehow docker-in-docker ignores the folders

[2019-03-03 15:47] mkg20001 opened #54 "Automate uploads to f-droid repo"

[2019-03-03 15:49] mkg20001 commented on #13
Update: ZeroNet now has an F-Droid repo as inclusion by upstream took too long https://f-droid.mkg20001.io/repos/jVVkbOD2it_bf_UxFIGGh1qa950KrUsq/repo/?fingerprint=005E888A5A203D40E28F372B939B8E5995FB29081EFC845DB99A8D4C14B509E2

New releases are going to be published soon

[2019-03-03 15:49] #13 closed

[2019-03-03 15:52] mkg20001 opened #55 "Chinese README and tutorial files need to be re-translated"
Both files were changed and their translated counterparts need to be updated

[2019-03-03 16:14] mkg20001 commented on #47
Another wild error appeared

[code]

[2019-03-03 19:02] mkg20001 commented on #26
Another update: `x86_64` seems to work now as well

[2019-03-03 20:10] #52 closed

[2019-03-04 00:05] mkg20001 commented on #48
Note: https://stackoverflow.com/questions/21063046/how-can-i-catch-kivy-client-crash-log-and-send-it-to-my-server

[2019-03-04 00:17] #48 closed

[2019-03-04 00:37] mkg20001 commented on #35
Update: I've pushed a change that adds links to this issue and the new bugtracker, as well as sentry integration to make my life a bit easier

[2019-03-04 00:38] mkg20001 commented on #48
@shortcutme Just a suggestion: sentry could be included in zeronet as well (possibly just as an optional dependency) to automatically collect errors.

[2019-03-04 15:16] mkg20001 opened #56 "Automatic stable channel release signing and proper f-droid uploads with fdroidserver"
Current setup is a hack

[2019-03-04 15:16] mkg20001 opened #57 "Fix sentry integration"
Currently it errors on start. Error gets silently ignored on purpose but should be fixed

[2019-03-04 15:18] mkg20001 opened #58 "Transfer infrastructure to someone else"
@HelloZeroNet I plan to no longer maintain the app after v0.6.5.1 due to lack of time and intrest. `v0.6.5.1` is a one-shot effort after which no new releases will follow.

[2019-03-04 15:19] mkg20001 commented on #26
Implemented. Download from https://f-droid.mkg20001.io/repos/jVVkbOD2it_bf_UxFIGGh1qa950KrUsq/repo/?fingerprint=005E888A5A203D40E28F372B939B8E5995FB29081EFC845DB99A8D4C14B509E2

[2019-03-04 15:19] #26 closed

[2019-03-04 15:20] mkg20001 commented on #54
Hacked together something for the nightlies

[2019-03-04 15:20] #54 closed

[2019-03-04 15:21] #43 closed

[2019-03-04 15:31] HelloZeroNet commented on #58
Ok, thanks for the information and your work!

I will try to find someone to maintain future releases

[2019-03-04 15:35] HelloZeroNet commented on #35
Thanks, I will try to find someone.

[2019-03-04 15:38] mkg20001 commented on #58
If you want to take over the project than the following components need to be transferred:
 - [ ] f-droid server (you can setup your own as I'm currently using repomaker which turns out isn't the best for automation) for the f-droid repo
 - [ ] the google play appstore entry
 - [ ] the app signing key (as the production key for zeronet is the same as the one I'm using for all other apps I can't gi

[2019-03-05 11:36] mkg20001 commented on #49
NOTE: https://github.com/kivy/python-for-android/issues/1637

[2019-03-05 11:40] mkg20001 commented on #47
[code]

[2019-03-05 11:48] mkg20001 commented on #47
https://github.com/kivy/python-for-android/issues/1739

[2019-03-05 14:45] HelloZeroNet commented on #48
It would be helpful, but as there is many privacy oriented use cases in zeronet I would like to avoid automatic error collection.

[2019-03-05 17:07] mkg20001 commented on #48
We could make it opt-in via a toggle in the app and/or zeronet itself and save the preference in `zeronet.conf`

Later the code in `wrapSentry` in `src/platform_android.py` could be used to check for that flag and use it only if it's set (That could shuld also be moved in some other non-platform specific file)

[2019-03-10 14:02] mkg20001 commented on #47
@shortcutme Older gevent did fix it, but now log seems to be recursive:

[code]

[2019-03-10 14:35] mkg20001 commented on #47
Update: Solved that as well

Release time :tada:

[2019-03-10 14:35] #47 closed

[2019-03-10 14:36] mkg20001 commented on #45
All bugs are fixed! New release coming soon! :tada:

[2019-03-10 16:04] HelloZeroNet commented on #47
Nice, what was the solution for this weird sterr problem?

[2019-03-10 17:00] mkg20001 commented on #47
[stderr.patch.txt](https://github.com/HelloZeroNet/ZeroNet-kivy/files/2949761/stderr.txt)
Simply disabled the console logger.
Kivy already has a console logger installed so that one would log the debug message first, later the zeronet logger would log that message and the kivy logger would log _that_ message.
The upstream fix would be to check if a logger already exists for stdout/stderr and then

[2019-03-10 17:31] mkg20001 commented on #45
https://github.com/HelloZeroNet/ZeroNet-kivy/releases/tag/v0.6.5.1
:tada:

[2019-03-10 17:32] #45 closed

[2019-03-11 12:16] mkg20001 commented on #21
Seems fixed in newer kivy versions

[2019-03-11 12:16] #21 closed

[2019-03-11 12:16] mkg20001 commented on #38
Play store version has been downgraded for older devices

[2019-03-11 12:16] #38 closed

[2019-03-11 12:17] mkg20001 commented on #12
Please re-check if this issue still persists and re-open if it does

[2019-03-11 12:17] #12 closed

[2019-03-11 12:17] mkg20001 commented on #34
Play store version has been downgraded for older devices

[2019-03-11 12:17] #34 closed

[2019-03-11 12:18] mkg20001 commented on #19
Please re-check if this issue still persists and re-open if it does

[2019-03-11 12:18] #19 closed

[2019-03-11 12:20] mkg20001 commented on #10
@AndreMiras Sorry for overlooking this. Was just someone elses PR that I merged into my own branch on a trial-and-error approach.

@bjorn3 (and others) Please re-check if this issue still persists and re-open if it does. It is most likely solved in the newest version.

[2019-03-11 12:20] #10 closed

[2019-03-11 12:20] mkg20001 commented on #8
The rotating hang bug has been most likely solved in the newer version. Please re-check if this issue still persists and re-open if it does

[2019-03-11 12:20] #8 closed

[2019-03-11 13:16] #28 closed

[2019-03-17 08:16] psycholyzern opened #59 "`android.permission.FOREGROUND_SERVICE` is missing"
Android version: Pie
Phone model: OnePlus 5T

Hi. This app doesn't work with my Android phone. I have tried installing from Playstore and F-Droid.

![](https://i.imgur.com/DNMb0Vo.png)

[2019-03-17 10:00] mkg20001 commented on #59
Bug

`android.permission.FOREGROUND_SERVICE` is missing

[2019-03-17 10:14] #51 closed

[2019-03-17 11:21] mkg20001 commented on #59
Got another one:
[code]

[2019-03-17 11:55] dausruddin commented on #59
Is that my logs? How did you get them? 😅
Anyway what can I do to fix this?

[2019-03-17 11:55] mkg20001 commented on #59
I've upgraded my phone to android pie and tested it.

[2019-03-17 12:55] mkg20001 commented on #59
Currently you sadly can't do anything. I'm working on a fix. I've already fixed _this_ bug but _another_ bug occured (`Abort message: 'java_vm_ext.cc:542] JNI DETECTED ERROR IN APPLICATION: bad arguments passed to java.lang.Object android.content.ContextWrapper.getSystemService(java.lang.String)'`)

[2019-03-17 13:39] dausruddin commented on #59
Oh thanks :)

[2019-03-17 15:15] mkg20001 commented on #59
![screenshot](https://user-images.githubusercontent.com/7735145/54493400-ec377b80-48cf-11e9-84de-7941c735d66a.png)

It works!

[2019-03-17 15:20] dausruddin commented on #59
Cool. I'll wait for the update om f-droid then 😁😁

[2019-03-17 15:32] mkg20001 opened #61 "Release v0.6.5.2"
# A new version is coming! :tada:

# Changelog

 - **bug fix** Fixed some crashes due to NotificationManager
 - **bug fix** Fixed missing `FOREGROUND_SERVICE` permission #59

## Pre-Release

- [x] Test whether latest devel works
  - [x] 28 aka 9.0 Pie
  - [x] 27 aka 8.1 Oreo
  - [x] 22 aka 5.1 Lollipop
- [x] Bump version in .version.sh if necesarry
- [x] Create git tag
- [x] Push to master and pus

[2019-03-17 15:33] mkg20001 commented on #59
There are a few things to do before that. See #61

[2019-03-17 15:33] #59 closed

[2019-03-17 15:36] dausruddin commented on #59
No problem. Take your time. 😁😁
Thanks.

[2019-03-17 19:03] mkg20001 commented on #61
@shortcutme Release is ready to be announced, just in cause you want to announce it somewhere.

[2019-03-17 19:03] #61 closed

[2019-03-25 19:41] krzysztof113 commented on #58
Is publishing a version that that will redirect for new app to install an option? I'd like to avoid the mixed situation with keys and GP accounts.

[2019-03-27 11:52] mkg20001 commented on #58
There is little reason to do this, and for now nobody showed up wanting to maintain the app anyways (AFAIK)

[2019-05-12 20:55] sh311s commented on #35
I will help... Just re hopped on and browsing bugs

[2019-05-12 21:05] mkg20001 commented on #35
Best is to create a PR fixing some of the bugs and update the app to the latest zeronet python2 or try to finish up python3 support. Just ping me and I can help you get things set up.

Edit: Write access to the repo, etc, will be all arranged once I get my hands on a PR so I can look at your work. Using android-python isn't everyones passion ;)

Also just FYI, and not as a discouragement: Note tha

[2019-05-12 21:23] sh311s commented on #35
Sounds good!! Thanks.

Got too much white screen and going afk for a few.. stoked to contribute..

On Sun, May 12, 2019, 2:05 PM Maciej Krüger <notifications@github.com>
wrote:

[2019-06-10 10:16] mkg20001 opened #62 "Repo is broken"
.apk's yield 404's

[2019-06-22 16:20] mkg20001 opened #63 "[10$ BOUNTY] Resolve py3 support issues: Make it find greenlet"
Currently the PR #60 is blocked by the system being unable to find the python3 dependency.

**Giving out a bounty of $10 for anyone who's first to solve this _properly_.**

Conditions:
 - greenlet can be found by python3 inside the app and additionally can be correctly loaded and used
 - all upstream changes must be proposed as PRs to their respective repos and linked here (shouldn't be much, eith

[2019-07-04 21:11] Merith-TK opened #64 "Builds only availiable for Arm64, not any prior arm architectures"
As the title says, the prebuild packages are only for arm64, not armv7 or others
I have a Android8 and 9 device and neither can run it.

[2019-07-04 21:13] Merith-TK commented on #64
Atleast the stuff in the Fdroid Repos

[2019-07-05 06:22] mkg20001 commented on #64
As a workaround try downloading it from https://gitlab.com/mkg20001-gh/ZeroNet-kivy/pipelines

[2019-07-05 17:33] Merith-TK commented on #64
Also, most of the buttons in the app don't even work, I have to go into my rooted file manager just to find where my files are stored.

[2019-07-05 17:42] mkg20001 commented on #64
Please be more precise. Do you mean the Links like ZeroHello, etc?

`/storage/emulated/0/Android/data/net.mkg20001.zeronet/files/zero`

[2019-07-05 17:45] Merith-TK commented on #64
1) Yes, and the supposed menu button on the top

2) I found that by reading the only json file. and merely changing it requires a full reinstall of the app (Tried changing to `/storage/emulated/0/ZeroNet`)

3) if i close the app via the task manager on Resurrection Remix 7.0.2, Android 9, LineageOS based ASOP rom. The entire program exits despite having a Persistent Notification

[2019-07-05 18:21] mkg20001 commented on #64
First one is a bug, second one simply has no functionality yet since the settings/managment UI wasn't implemented yet (feel free to do so)

Feel free to file an issue

Which JSON? Also you need to force stop the service or stop it via the webui, otherwise it might not pick up changes. It runs without `--debug` flag, and currently no way to change it

Same, feel free to file an issue. Include logs.

[2019-07-05 18:23] mkg20001 commented on #64
`zeronet.conf` could be used to change that, I guess
[code]

[2019-07-05 22:14] Merith-TK commented on #64
this json
`/data/data/net.mkg20001.zeronet/files/app/env.json`
which contains
[code]

[2019-07-05 22:26] mkg20001 commented on #64
This file is not intended to be changed.
It's just a way to get information from the main app to the service

Merith <notifications@github.com> schrieb am Sa., 6. Juli 2019, 00:14:

[2019-07-06 22:10] mkg20001 commented on #64
When you force close an app, it usually also force closes all background services. Feature, not a bug, of android

[2019-07-08 17:22] Merith-TK opened #66 "Build Using Android Studio on Windows?"
AS the title says, id like to build using android studio on windows 10. Any idea how? i do have MSys installed and up to date if that helps

[2019-07-08 17:55] Merith-TK commented on #66
Im asking because im thinking about forking this project, but adding a webveiw into it so that the user doesnt have to open their browser.

[2019-07-10 00:07] mkg20001 commented on #66
The project doesn't use android studio, but instead buildozer builds the python runtime for android using python-for-android and creates a gradle configuration that gets used to put everything together into one APK
I thought about using android studio and somehow hacking everything together so that it works, but then you'd have a tremendous amount of work before you, since you'd have to change a l

[2019-07-10 00:18] mkg20001 commented on #64
http://localhost:43110/zeronet-android.bit should have armv7 builds.

I have an OnePlus One which can run it properly. There must be something else wrong. Please report seperate issues for this problem and the aforementioned ones (buttons, etc)

[2019-07-10 00:18] #64 closed

[2019-07-10 00:24] mkg20001 commented on #62
Seems to work by disabling every mirror except the first in f-droid.
![screenshot (de)](https://user-images.githubusercontent.com/7735145/60931409-ce948480-a2b9-11e9-8cb7-6acc95acc72a.png)

[2019-07-10 01:43] Merith-TK commented on #66
I will use something better than wsl (which WSL2 is still a pos)

It's called Ssh into my live Arch System.

Thanks for the headsup, I'm not used to cli build tools.

On Tue, Jul 9, 2019, 5:07 PM Maciej Krüger <notifications@github.com> wrote:

[2019-07-10 09:05] mkg20001 commented on #66
Arch hasn't been thoroughly tested yet, so it's recommended that you install docker and use that to run the build commands on the arch system.

Otherwise you could also try getting it to run on arch and make some docs

[2019-07-10 18:23] Merith-TK commented on #66
the only real difference we should have to worry about is Group Ownership of files and different dependancy names

[2019-07-10 20:46] mkg20001 commented on #66
unsure if that's what's important.
Rather location of the libraries and the versions of them are the factors that matter.

[2019-07-31 10:15] filips123 commented on #40
ZeroNet now supports Python 3. Can this app also be updated?

[2019-08-01 13:34] styromaniac opened #67 "ZeroNet-Kivy keeps crashing. Bring back background processing."
Both 32-bit and 64-bit versions crash. I'm not sure why.

Could you also bring back the background processing so the window being closed doesn't kill the process? This is unrelated but I think it's essential. Also provide an auto-start option so users don't have to remember to start ZeroNet themselves. Make background processing optional so the new foreground processing remains an option for panic

[2019-08-04 20:02] mkg20001 commented on #67
I'm currently stuck with python 3 support https://github.com/HelloZeroNet/ZeroNet-kivy/pull/60

Once that is done, other things can be developed as well

[2019-08-04 20:03] mkg20001 commented on #66
Closing since project can't be built using android studio directly

[2019-08-04 20:03] #66 closed

[2019-08-05 10:54] mkg20001 commented on #40
We're working on that in https://github.com/HelloZeroNet/ZeroNet-kivy/pull/60

[2019-08-11 16:35] mkg20001 commented on #40
Nightlies are on f-droid. https://f-droid.mkg20001.io/repos/jVVkbOD2it_bf_UxFIGGh1qa950KrUsq/repo?fingerprint=005E888A5A203D40E28F372B939B8E5995FB29081EFC845DB99A8D4C14B509E2
Feel free to test them and report your findings either via issues or https://t.me/zeronet_android

[2019-08-11 17:04] mkg20001 commented on #63
Solved.
Bounty goes... to me.
At least I hope. The laptop built version works. Let's see for the buildserver.

[2019-08-11 17:04] #63 closed

[2019-08-13 14:08] styromaniac opened #68 "ZeroNetN (Py3) doesn't work on my phone"
I'm on Android Pie. I made sure the stable version of ZeroNet-Kivy wasn't also running. The nightly just isn't working on my phone.

[2019-08-13 19:36] canewsin opened #69 "Using chaquopy may get more contributers for this project"
I recently read all the issues of this project and concluded that most of the users want to contribute to the project but some factors stoping them
One is project is not buildable by android studio to develop android most of the developers use it so these users are not able to contribute
Another one is able to built on windows even most servers runs on linux, desktop space is dominated by windows,

[2019-08-13 19:37] canewsin commented on #69
@mkg20001

[2019-08-13 19:44] mkg20001 commented on #69
@canewsin If somebody does it and it works, then that PR will be merged. It should do python modules as well as native compilation, since zeronet depends on some modules that require native compilation.

[2019-08-13 20:16] mkg20001 commented on #69
Actually, looking into it it sounds fairly easy. Maybe I'll get some spare time to do it this week. Would have to figure out how to do the architecture then

Currently the zeronet files are copied into Android/data/net.mkg20001.zeronet/files and then whenever an update is done the old folder is renamed, the new one is copied in and data/ folder is moved to the new one.

Then a service is launched

[2019-08-13 20:52] canewsin commented on #69
Yes it will, it has also flags to compile python code to native

[2019-08-13 20:53] canewsin commented on #69
May we can store files on private data folder

[2019-08-13 21:39] styromaniac opened #70 "ZeroNet-Kivy doesn't connect to https trackers."
https://github.com/HelloZeroNet/ZeroNet/issues/2118#issuecomment-521018978

Since I maintain a trackers list called Syncronite, I think you know I would be observant here.

[2019-08-13 21:59] mkg20001 commented on #69
Breaks zeronet profile switcher (the app)

[2019-08-14 04:11] canewsin commented on #69
could you share the code your'e working as separate branch(may be a repo), if i had a time i will look into it, even it breaks, commit to latest working so that i can work form there

[2019-08-14 07:42] mkg20001 commented on #69
So I just realized that I have android studio on my PC
And I'm not at home but somewhere else. So I'd have to postpone it until in a week

[2019-08-14 07:44] mkg20001 commented on #68
This is a development version, which is WIP

There is a planned effort to switch to chaquopy since kivy is too broken for us to maintain #69

[2019-08-14 07:45] mkg20001 commented on #69
Chaoqupy does have precompiled packages for x86, x86_64, armv7a and armv8?

[2019-08-14 08:41] canewsin commented on #69
yes it has all precompiled bins with requires native implementation

[2019-08-14 08:42] canewsin commented on #69
if lib is bear python code its works without any native implementation as stated by them

[2019-08-14 22:01] canewsin commented on #69
I started working on repo which is available at http://github.com/canewsin/ZeroNetChaquoPy simplify continue from here

[2019-08-21 10:39] rllola commented on #20
I am currently looking into pyqtdeploy. I have been able to build the demo app and have it running on an Android device (and that wasn't easy). I wanted to try compile the browser poc for android but Qt on Android doesn't have QtWebengine which is needed.

I am going to look to have just ZeroNet build in a minimalist app.

[2019-08-31 13:32] azat11 opened #71 "Doesn't connect"
This is what I get when trying to open homepage: https://imgur.com/a/GbiaQIb

[2019-09-07 20:03] canewsin commented on #69
I currently dont have time to continue i will be a little free to contribute from december

[2019-09-15 11:32] filips123 commented on #32
@mkg20001 @rllola Firefox now has [GeckoView](https://github.com/mozilla/geckoview) and [Android Components](https://github.com/mozilla-mobile/android-components) which can be used for easier embedding into applications.

[2019-11-04 18:13] Merith-TK opened #73 "Community reccomendations"
http://127.0.0.1:43110/Talk.ZeroNetwork.bit/?Topic:1572886118_14g2gXnsZdEPShFJkGdh5W3eGXmKzqW6F8/ZeroNet+Kivy+Ideas

I basically just asked this question and made it clear i was not on the dev team,

[2019-11-10 11:00] krzysztof113 opened #74 "Power usage"
Accidentally forgot to close Zeronet on my phone and overnight half of the battery was eaten.
Is there a way to avoid this. Like stopping ZN after some time on inactivity from user?

[2019-12-13 11:32] canewsin commented on #69
@mkg20001 did you try any thing since last conversation?

[2019-12-13 11:50] mkg20001 commented on #69
No, I'm primarily busy with other things right now.

[2019-12-13 16:45] canewsin commented on #69
code is mostly runnable but there is uiserver.py connection error, did you look into it because you have previously connected with zeronet repo i think some code modifications should be done in python code to run perfectly. look at my repo if possible.

[2019-12-13 17:00] mkg20001 commented on #69
Yes, mostly the upgrading logic is missing

This month I'll likely won't have any time because I've already got a lot of thing on my list.

I'll see next year

[2019-12-14 04:36] canewsin commented on #69
so i thought you was refering to, when repo get updated it should be downloaded to some folder and run without rebuilding app right.

[2019-12-14 18:15] mkg20001 commented on #69
Actually I intended the app code to be update via the app updates (later once things work we could add automated build & release, like I did for the zeronet snap)

It's rather about upgrading the plugins directory since users should be able to modify it, yet it needs to be modified by the app on upgrades (and keep the disabled/enabled prefix)

[2019-12-15 04:40] canewsin commented on #69
Ok, i want some list of TODOs you want with the repo so if possible i may try with the app code. What i want you to do is list out what are requirements if possible i will tweak the app code after that we can do big fixing.

[2019-12-15 14:24] styromaniac commented on #69
Background processing - no need to keep the window open

Autorun at device boot option (Important to make sure ZeroNet is always running, so nobody has to be bothered to run it manually)

users.json import/export

Command line interface

Use a mesh networking API like neighbor-aware WiFi or one of the handful of others

Prompt the user on first run to select the features they want enabled

Yggdras

[2019-12-16 18:44] mkg20001 commented on #69
@canewsin
What's also in current zeronet APK and should be included:
- Allow users to modify plugins & enable/disable them
  - This should be synced accross upgrades
- The zeronet source code should be app-managed, so that we always have the right libraries (Like it currently is)
  - Later I'll set up a CI build once things work to automate the upgrade & release process, but that'll require a setu

[2019-12-18 10:48] canewsin commented on #69
chaquopy requires heavy modification of source code apart from that i was tested latest py3 repo with termux all plugins except coincurve are installed, sites are running well except openssl not found error if it is successful we have another option to try for latest version(py3)

[2019-12-18 10:50] canewsin commented on #69
with this we can achieve all the above requirements from above

[2019-12-19 07:50] canewsin commented on #69
coincurve is also successful zeronet is running normally with bear py3 zeronet code now i will pack those resouces to app make an app on top of it.

[2019-12-21 05:31] canewsin commented on #69
i made an app with compiled sources openssl lib problem except that all is working well i will publish work soon as new app.
on top of it i will write ui code with platform side code.

[2019-12-28 11:45] styromaniac opened #76 "The latter versions that dropped support for Android 5 and below can't port punch, but Alpha #9 can."
My eyes and mind aren't deceiving me. I have way more peers on my old as hell phone than my new phone and the port is opened. I didn't specify an IP address and get a false positive.

They're both running rev 3870.

[2020-01-02 13:19] canewsin commented on #69
hi i published apks at [canews/zeronet](https://github.com/canewsin/ZeroNet/releases/latest) download the relevent apps and try them.

[2020-01-02 13:51] canewsin commented on #69
It almost takes 2 full months of work(for finding solution for every problem i faced during this work) to complete this app, so i want to publish the app as separate app as an ad supported version because my financial conditions are very bad, hope this will helps me. you may try with chaquopy but it requires heavy code modifications in zeronet repo code. my version is py3 fully supported.

[2020-01-04 21:15] styromaniac commented on #69
It gets a lockfile error once ZeroNet crashes or is shut down.

Setup an account on liberapay or other such so we can support you. The ad networks pay out very little, IMHO.

[2020-01-04 23:03] styromaniac commented on #69
I realize the larger APK seems to have no problems. The one that's 64-bit only was problematic.

https://github.com/canewsin/ZeroNet/releases/download/APKs/app-release.apk

^Good to go.

[2020-06-07 07:24] R3ZUK0 opened #78 "Millchan won't let me download posts"
I've already tried updating/checking on ZeroHello, downloaded a fresh zeronet exe, and tried on different computers. This is the error code:

Internal error: TypeError: actionBigfileUploadInit() takes exactly 4 arguments (5 given)
UiWebsocket.py line 83 > UiWebsocket.py line 269 > MergerSitePlugin.py line 171 > MergerSitePlugin.py line 141

[2021-02-19 22:21] dox727 commented on #35
Hey

[2021-02-25 10:42] dox727 commented on #35
Hey

[2021-07-29 20:19] Saeedazad33 opened #82 "Iran"
Hyy

[2021-08-01 20:01] Saeedazad33 opened #83 "سلام"
سلام

[2021-10-05 08:38] ghost commented on #70
Para acceder a códigos como tendría que empezar,podrías ilustrarme

[2022-01-21 22:34] RdeWilde commented on #35
Is this still active?

[2022-02-24 04:13] FR33silence commented on #83
سلام

[2022-05-12 14:29] ABABA1IR commented on #83
ورود به زیرو

[2022-05-22 17:06] Despiee opened #84 "Hello world"
You can help me

[2022-07-08 23:09] A1Bullet opened #85 "BulletZeroNet"
Laptop-_-'out,controlost,whatsbe§tdone?

[2022-07-08 23:10] A1Bullet commented on #85
Hello bros , what does anyone suggest?

[2022-10-16 04:09] Eimy12 commented on #85
Busco sugar

[2022-11-15 13:27] Mahhemati commented on #83
Salam

[2022-11-16 09:58] aliyosefiramandi commented on #83
slam

[2022-11-16 12:00] 19680919 opened #86 "Hi"
Hi

[2022-11-16 12:02] 19680919 commented on #86
![Screenshot_۲۰۲۰۰۴۱۶-۱۴۱۵۳۳_Gallery](https://user-images.githubusercontent.com/118357985/202175741-2ae96d35-0636-4c11-baf7-9e4d70aecb80.jpg)

[2022-11-16 14:11] hosseinmirzae commented on #15
gh pr checkout 81

[2022-11-20 14:28] Hastim20 opened #87 "Hastim20"

[2022-11-20 23:06] hoseinabodieh commented on #35
Non yet